body{
    background-image: url(fundo.jpg);
    background-size: cover;
    color: black;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: brown;
    text-align: center;
    font-size: 60px;
}

h2{
    color: black;
    text-align: center;
    font-size: 40px;

}

p{
    margin-top: 50px;
    font-size: 22px;
    color: black;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

button{
    width: 70px;
    height: 40px;
    border-radius: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: black;
}

button:hover{
    color: orange;
}

label{
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

input {
    padding: 8px;
    width: 420px;
    height: 5px;
    border: 10px solid rgba(45, 225, 117, 1);
    background-color: rgba(45, 225, 117, 1);
    border-radius: 20px;
}

button2{
    width: 70px;
    height: 40px;
    border-radius: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: black;
}

button2:hover{
    color: orange;
}

ul{
    font-size: 20px;
}